:root {
  --Light-Gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --Dark-Gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
  --Neutral-900: hsl(227, 75%, 14%);
  --Neutral-800: hsl(226, 25%, 17%);
  --Neutral-700: hsl(225, 23%, 24%);
  --Neutral-600: hsl(226, 11%, 37%);
  --Neutral-300: hsl(0, 0%, 78%);
  --Neutral-200: hsl(217, 61%, 90%);
  --Neutral-100: hsl(0, 0%, 93%);
  --Neutral-0: hsl(200, 60%, 99%);
  --Red-400: hsl(3, 86%, 64%);
  --Red-500: hsl(3, 71%, 56%);
  --Red-700: hsl(3, 77%, 44%);
}

.left {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 90%;
  place-items: center;

}

Header {
  display: grid;
  grid-template-columns: 80% 20%;
  place-items: center;
  width: 100%;
  border-radius: 10px;
  margin-top: 1rem;

  @media (max-width: 670px) {
    grid-template-columns: 1fr;
    place-content: center;
    place-items: center;

  }
}



Header svg {
  color: var(--Red-700);
  width: 48px;
  min-width: 48px;
  font-size: 1.5rem;
}

.head-btn, .add-btn {
  height: 48px;
  width: 80%;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--Neutral-700);
  color: white;
  cursor: pointer;
  border-radius: 10px;
  border: none;

  @media (min-width: 425px) {
    font-size: .7rem;
    width: 100%;
  }
}

.head-btn:nth-last-child {
  grid-template-columns: 1fr;
}

.head-btn:hover,.add-btn:hover {
  color: white;
  outline: 2px solid var(--Red-700);
}

.head-btn:focus,.add-btn:focus {
  background-color: var(--Red-700);
}



.addForm{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 20px;
    min-width: 50%;
    background-color: var(--Neutral-900);
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    position: absolute;
    top: 200px;
    z-index: 99;

}

input{
    outline: none;
    height: 1.5rem;
    margin-bottom: 1rem;
    
}


.addForm .inputlable{
    margin: -99999px;
}
.addItem{
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.closeIcon{
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50px;
}

.closeIcon:hover{
  outline: 2px solid var(--Red-700);
}